<script type="text/javascript" src="/scripts/jquery.pjax.js"></script>
<script type="text/javascript">

	$(document).ready( function(){

		// comportamento do menu twitter/fork/rss
		$('#links a').hover( function(){
			$(this).parent().siblings('span').addClass('show')
		}, function(){
			$(this).parent().siblings('span').removeClass('show')
		})

		// pjax
		!function() {
			// seta o pjax
			$('a').pjax('#wrapper', {
				fragment: '#wrapper',
				timeout: 2000
			})

			// como o pjax não executa automaticamente os scripts carregados, 
			// precisamos encapsular o que queremos executar quando a página 
			// for carregada dentro da função "pjaxOnCompleteCallback"
			$(document).on('pjax:complete', function() {
				pjaxOnCompleteCallback()
			})
		}()
		
	})

</script>